apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: webapp-gateway
  namespace: webapp
spec:
  selector:
    istio: ingress
  servers:
    - port:
        number: 80
        name: http
        protocol: HTTP
      hosts:
        - "*"
    - port:
        number: 8080
        name: tcp
        protocol: TCP
      hosts:
        - "*"
---

apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: webapp-tcp
  namespace: webapp
spec:
  hosts:
    - "*"
  gateways:
    - webapp-gateway
  tcp:
    - route:
        - destination:
            host: webapp-service
            port:
              number: 8080
